body {
    margin-bottom: 500px;
}

/* 3 - esternal css */

h3 {
    color: green;
}

/* classes */

.paragraph {
    background-color: #171717;
    color: aquamarine;
    padding: 5px;
}

/* id */

#p1 {
    background-color: #171717;
    color: gold;
    padding: 10px;
    
}

/* ordem do css */

h2 {
    border-bottom: 2px solid red;
}
.título {
    border-bottom: 3px solid blue;
}

#algum-título{
    border-bottom: 4px solid green;
}

.color-name {
    color: deeppink;
}

.color-hex {
    color: #55a398;
}

.color-rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199,21,45);
}

.color-rgba {
    color: rgba(0, 0, 155, 0.5);
}

.color-hsl {
    color: hsl(240, 100%, 50%);
}

.background-color {
    background-color: #000;
    color: yellow;
}

.background-color2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

.bg-opacity {
    background-color: rgba(0, 0, 155, 0.5);
    opacity: .2;
}

.bg-opacity2 {
    background-color: #999;
    color: #000;
    opacity:.8;
}

.rgba-opacity {
    background-color: rgba(90, 120, 20, .2);
    color: #000;
}

.bg-image {
    background-image: url(/3_CSS/img/cruzeiro-torcida2.jpg);
    padding: 10px;
    color: aliceblue;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
}

.position-static {
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;
}

.position-relative {
    position: relative;
    background-color: #333;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}

.position-absolute {
    position: absolute;
    background-color: #946;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

.relative-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
}

.absolute-1, .absolute-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #442;
}

.absolute-1 {
    top: 10px;
    left: 10px;
}

.absolute-2 {
    bottom: 10px;
    right: 10px;
}

.position-fixed {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: #851;
    border: 1px solid blue;
    margin-top: 120px;
    top: 50px;
    right: 100px;
}

.position-sticky {
    position: sticky;
    width: 100px;
    height: 100px;
    background-color: #994;
    border: 1px solid green;
    top: 10px;
}

/* z-index */
.absolute-3, .absolute-4, .absolute-5 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #123;
}

.absolute-3 {
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #000;
}

.absolute-4 {
    top: 10px;  
    left: 10px;
    background-color: #223;
    z-index: 2;
}

.absolute-5 {
    top: 40px;
    left: 40px;
    background-color: rgb(17, 173, 38);
    z-index: 1;
}